<div class="panel panel-primary">
  <div class="panel-body">
    <div *ngIf="messages?.length === 0">
      <P>No messages yet, say hi by using the message box below</P>
    </div>

    <ul class="chat">
      <li *ngFor="let message of messages">
        <div *ngIf="message.senderId == userId">
          <span class="chat-img pull-left">
            <img src="{{message.senderPhotoUrl}}" class="img-circle" alt="">
          </span>
          <div class="chat-body">
            <div class="header">
              <strong class="primary-font">{{message.senderKnownAs}}</strong>
              <small class="text-muted pull-right">
                <span class="fa fa-clock-o">{{message.messageSent | timeAgo}}</span>
              </small>
            </div>
            <p>{{message.content}}</p>
          </div>
        </div>

        <div *ngIf="message.senderId != userId">
            <span class="chat-img pull-right">
              <img src="{{message.senderPhotoUrl}}" class="img-circle" alt="">
            </span>
            <div class="chat-body">
              <div class="header">
                <small class="text-muted pull-right">
                    <span class="fa fa-clock-o">{{message.messageSent | timeAgo}}</span>
                    <span *ngIf="!message.isRead" class="text-muted text-danger">(Unread)</span>
                    <span *ngIf="message.isRead" class="text-muted text-success">(read {{message.dateRead | timeAgo}})</span>

                </small>
                <strong class="primary-font pull-right">{{message.senderKnownAs}}</strong>

              </div>
              <p>{{message.content}}</p>
            </div>
          </div>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <input type="text" 
        name="sendmessage"
        class="form-control input-sm" 
        [(ngModel)]="newMessage.content"
        required
        placeholder="send a private message">
        <span class="input-group-btn"><button [disabled]="messageForm.invalid" mat-raised-button color="accent" class=" btn-sm">Send <i *ngIf="isBusy" class="fa fa-spinner fa-spin"></i> </button></span>
        </div>
    </form>
  </div>
</div>
