<div class="card ">
  <div class="card-header text-center bg-dark text-white">
    <h1><i class="fa fa-sign-in mr-1"></i>Register</h1>
  </div>
  <div class="card-body">
    <form #form="ngForm" (ngSubmit)="register()" novalidate>
      <div class="example-container">
        <mat-form-field>
          <mat-icon class="mr-1" matPrefix>email</mat-icon>
          <input matInput required name="email" #username="ngModel" [(ngModel)]="model.Username" type="text"
            placeholder=" Username">
        </mat-form-field>

        <mat-form-field>
          <mat-icon class="mr-1" matPrefix>lock</mat-icon>
          <input matInput required name="password" #password="ngModel" [(ngModel)]="model.Password" type="password"
            placeholder=" Password">
        </mat-form-field>
        <mat-form-field>
            <mat-icon class="mr-1" matPrefix>person</mat-icon>
            <input matInput required name="email" #username="ngModel" [(ngModel)]="model.Username" type="text"
              placeholder=" Username">
          </mat-form-field>
  
          <mat-form-field>
            <mat-icon class="mr-1" matPrefix>lock</mat-icon>
  
            <input matInput required name="password" #password="ngModel" [(ngModel)]="model.Password" type="password"
              placeholder=" Password">
          </mat-form-field>
          <mat-form-field>
              <mat-icon class="mr-1" matPrefix>person</mat-icon>
              <input matInput required name="email" #username="ngModel" [(ngModel)]="model.Username" type="text"
                placeholder=" Username">
            </mat-form-field>
    
            <mat-form-field>
              <mat-icon class="mr-1" matPrefix>lock</mat-icon>
    
              <input matInput required name="password" #password="ngModel" [(ngModel)]="model.Password" type="password"
                placeholder=" Password">
            </mat-form-field>
        <div class="button-row">
          <button mat-raised-button  class="btn btn-outline-warning mr-2" type="submit">Register</button>
          <button mat-raised-button class="btn btn-outline-warning" (click)="cancel()" type="submit">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

