
 <div class="wrap">
 <div  *ngIf="!registerMode && !loggedIn()" class="image  " style="text-align:center">
  <h1 class="text-white ">
    Meet People aorund the world, chat and make friends....
  </h1>
  <p class="lead text-white">Come on in to view your matches.. All you need to do is sign up!</p>
  <div class="text-center">
    <button (click)="registerToggle()" color="primary" class=" mr-2" mat-raised-button>Register</button>
    <!-- <button (click)="learnMore()" color="accent" mat-raised-button>Learn More</button> -->
    
  </div>
</div>

<div class="image" *ngIf="loggedIn()">

  <div class="container">

  </div>

</div>

<div *ngIf="registerMode && !loggedIn()" class=" container">
  <div class="row">
      <app-register  (cancelRegisterMode)="cancelRegisterMode($event)"></app-register>
  </div>
</div> 
</div>

  <footer class="text-white text-center font-weight-bold footer bg-dark ">
   <span class="lead">Designed by</span> Zack &copy; 
  </footer>


