 <div  *ngIf="!registerMode && !loggedIn()" style="text-align:center">
  <h1>
    Find Your Match
  </h1>
  <p class="lead">Come on in to view your matches.. All you need to do is sign up!</p>
  <div class="text-center">
    <button (click)="registerToggle()" color="warn" class=" mr-2" mat-raised-button>Register</button>
    <button color="accent" mat-raised-button>Learn More</button>
  </div>
</div>

<div class="image" *ngIf="loggedIn()">

  <p>Home contents will go here.......</p>

</div>


<div *ngIf="registerMode && !loggedIn()" class=" container">
  <div class="row">
      <app-register  (cancelRegisterMode)="cancelRegisterMode($event)"></app-register>
  </div>
</div> 
