
  <div class="container text-center">
  <h2>Your matches - {{pagination.totalItems}} found</h2>
  </div>

 <div class="container">
   <div class="row">
    <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
<div class="form-group" >
  <label id="search" for="minAge" class="font-weight-bold">Age From:</label>
  <input   type="number" class="form-control" style="width: 70px;" id="search" [(ngModel)]="userParams.minAge" name="minAge">
</div>
<div  class="form-group">
    <label for="maxAge" class="font-weight-bold ml-2">Age To:</label>
    <input type="number" class="form-control" style="width: 70px;" id="maxAge" [(ngModel)]="userParams.maxAge" name="maxAge">
  </div>
  <div  class="form-group">
      <label for="gender" class="font-weight-bold ml-2">Show: </label>
      <select name="gender" style="width: 130px;" class="form-control" [(ngModel)]="userParams.gender" id="gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
      </select>
    </div>

    <div id="filterButton" class="btn-group">
    <button type="submit" mat-raised-button color="warn" style="margin-left: 10px">Apply Filters</button>
    <button type="button" mat-raised-button color="accent" (click)="resetFilters()" style="margin-left: 10px">Reset Filter <i *ngIf="isBusy" class="fa fa-spinner fa-spin"></i></button>
  </div>

    </form>
  </div>
  <div class="row">
    <div id="orderBy" class="pull-right">
        <label class="font-weight-bold ml-2">Order By: </label>
    </div>
  </div>
        <div class="btn-group" id="btngroup">
          <button type="button" name="orderBy" (click)="loadUsers()" [(ngModel)]="userParams.orderBy" color="primary" mat-raised-button btnRadio="lastActive">LastActive <i *ngIf="isBusy" class="fa fa-spinner fa-spin"></i> </button>
          <button type="button" name="orderBy" (click)="loadUsers()" [(ngModel)]="userParams.orderBy" color="warn" mat-raised-button btnRadio="created">Newest Members <i *ngIf="isBusy" class="fa fa-spinner fa-spin"></i> </button>
        </div>  
  <br>
  <div class="row equal">
    <div  *ngFor="let user of users" class="col-lg-2 col-md-3 mb-3 col-sm-6">
      <app-member-card [user]= "user"></app-member-card>
    </div>
  </div>
</div> 

<div class="container text-center">
  <pagination [boundaryLinks]="true"  class="pagination-sm"
  [totalItems]="pagination.totalItems"
  [itemsPerPage]="pagination.itemsPerPage"
  [(ngModel)]="pagination.currentPage" 
  (pageChanged)="pageChanged($event)"
  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>
</div>       
 