<div class="container">
  <div class="row">
    <div class="btn-group">
      <button mat-raised-button color="primary" [(ngModel)]="likesParam" btnRadio="Likers" (click)="loadUsers()">Members who like me</button>
      <button mat-raised-button color="primary" [(ngModel)]="likesParam" btnRadio="Likees" (click)="loadUsers()">Members who i like </button>
    </div>
  </div>
  <h2>{{likesParam === 'Likers' ? 'Members who like me' : 'Members i like'}} : {{pagination.totalItems}}</h2>

  <div class="row">
      <div  *ngFor="let user of users" class="col-lg-2 col-md-3 mb-3 col-sm-6">
        <app-member-card [user]= "user"></app-member-card>
      </div>
    </div>

  <div class="container text-center">
      <pagination [boundaryLinks]="true"  class="pagination-sm" 
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
    </div> 
</div>

