<div class="row">
  <div class="col-sm-2" *ngFor="let photo of photos">
    <img class="thumbnail" src="{{photo.url}}" alt="">
    <div class="button text-center">
      <button color="accent"  mat-icon-button type="button" class="btn btn-success btn-sm mr-2" 
      (click)="setMainPhoto(photo)"
      [ngClass]="photo.isMain ? 'btn-success active' : 'btn-default'"
      [disabled]="photo.isMain"> 
      <mat-icon>edit</mat-icon>
    </button>
      <button (click)="deletePhoto(photo.id)" class="btn btn-danger" [disabled]="photo.isMain" type="button" mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">

    <h3>Add Photos</h3>

    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
      class="card card-block bg-faded mb-3 my-drop-zone">
      Drop Photos here..
    </div>
  
  
    Multiple
    <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />

    Single
    <input type="file" ng2FileSelect [uploader]="uploader" />
  </div>

  <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        </tr>
      </tbody>
    </table>

    <div>
      <div class="mb-2">
        Queue progress:
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
        <button type="button" class="btn btn-success btn-s mr-1" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="fa fa-upload"></span> Upload <i *ngIf="isBusy" class="fa fa-spinner fa-spin"></i>
        </button>
        <button type="button" class="btn btn-warning btn-s mr-1" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
          <span class="fa fa-remove"></span> Cancel
        </button>
        <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
          <span class="fa fa-trash"></span> Remove 
        </button>
    </div>

  </div>

</div>